<%include header.ejs%>
<div class="ui container inverted segment">
	<h1>Add New User</h1>
</div>
	<form method="POST" class='ui container form'>
		<%include messages.ejs%>
			<div class="equal width fields">
				<div class="field">
					<label>Departure City</label>
					<input type="text" name="deptcity" autofocus required placeholder="Departure City">
				</div>
				<div class="field">
					<label>Arrival City</label>
					<input type="text" name="arrivalcity" required placeholder="Arrival City">
				</div>
			</div>
			<div class="equal width fields">
				<div class="field">
					<label>Seats</label>
					<input type="number" name="seats" min="50" required placeholder="Seats">
				</div>
				<div class="field">
					<label>Interval Days</label>
					<input type="number" name="intervaldays" min="1" step="1" required placeholder="Interval Days">
				</div>
			</div>
			<div class="equal width fields">
				<div class="field">
					<label>Departure Time</label>
					<input type="time" name="departuretime" required placeholder="Departure Time">
				</div>

				<div class="field">
					<label>Duration (mins)</label>
					<input type="number" name="duration" required placeholder="Duration">
				</div>

				<div class="field">
					<label>Cost</label>
					<input type="number" name="cost" required placeholder="Cost">
				</div>
			</div>
			<button class="ui button blue">Add</button>
			<a class="ui button red" href="/admin/flights">Back</a>
	</form>
<%include footer.ejs %>

